.page-register {
    .container-register {
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 320px;
        background-color: white;
        padding: 36px;
        margin: 0 24px;
    }

    .container-contexto {
        /* left: 320px; */
        /* flex-grow: 1; */
        padding: 12px 96px;
        background-color: orange;
        width: 100%;
        height: 100vh;
    }

    .input-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
}
